
/*Fonts*/

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/caviardreams-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pacificoregular';
    src: url('../fonts/pacifico-webfont.woff2') format('woff2'),
         url('../fonts/pacifico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


#namebig{
	font-family: 'pacificoregular', arial, sans-serif;
	margin-top: 20px;
	font-size: 30px;
	color: #fb5353;
}

#namem{
	font-family: 'pacificoregular', arial, sans-serif;
	margin-top: 10px;
	font-size: 18px;
	color: #fb5353;
}

#namebackgrnd{
	font-family: 'pacificoregular', arial, sans-serif;
	color: #fe7e7e;
}



	/*services area*/

#serviceCon
{
	margin-top: 10px;
	margin-bottom: 30px;
	background-color: #fb5353;
}

#serviceCon h2
{
	margin-top: 30px;
	margin-left: 20px;
}

.icon
{
	max-width: 70px;
	float: left;
	margin-right: 20px;
	margin-bottom: 0;
}

.services{
	margin-top: 25px;
}

.services h2
{
	font-size: 1.8em; /*24px/16*/
	/*margin-top: 5px;*/
	margin-bottom: 0;
	/*background-color: red;*/
}

.services p
{
	color: #333;
	font-size: 16px;
	text-align: justify;
	line-height: 22px;
	margin-top: 30px;
}

#workwrapper{
	clear: both;
}

.workimg{
	margin-top: 25px;
	margin-bottom: 30px;
}

#worktext
{
	font-family: 'pacificoregular', arial, sans-serif;
	font-size: 30px;
}


/*extra's area*/
#extraCon
{
	margin-bottom: 60px;
}

.extrasImg
{
	margin-top: 20px;
	margin-bottom: 10px;
}
.extras h2
{
	font-size: 1.25em;
}

.extras p
{
	color: #333;
	line-height: 22px;
	font-size: .875em;
}


#context{
  margin-top: 20px;
}

#context h3{
	text-shadow: 2px 2px 8px #B3D6D2;
}

#context p{
	margin-top: 20px;
}

#workwrapper{
	background-color: white;
}

.street{
	display: none;
}

#footerCon
{
	background-color: #8fa771;
	height: 70px;
}

#backBut
{
	color: #fff;
	font-size: .75em;
	line-height: 70px;
}

#backBut:hover
{
	color: #333;
}






@media screen and (min-width: 40em){ /*640/16*/

.icon
{
	max-width: 50px;
	margin-right: 8px;
}

.services h2
{
	font-size: 1.4em;
}

.services p
{
	text-align: left;
	margin-top: 30px;
}
}


.icon
{
	max-width: 15%;
}

.services img{
	margin-top: 15px;
}

.services h2
{
	font-size: 1.4em;
}

.services p
{
	font-size: .9375em;
}
