#imgGal {
	display: block;
	max-width: 75%;
	margin: auto;
	margin-top: 50px;
}

#prev, #next {
	width: auto;
	padding: 5px;
	color: #fb5353;
	/*font-weight: bold;
  /*font-size: 50px;
	user-select: none;
	text-decoration: none;
}

#next {
	float: right;
	margin-top: -15px;
	margin-right: 60px;
}

#prev {
margin-left: 60px;
}
