#header {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 85px;
    background-color: #B3D6D2;
  -webkit-box-shadow: 0 6px 4px -6px #808080;
  -moz-box-shadow: 0 6px 4px -6px #808080;
  box-shadow: 0 6px 4px -6px #808080;
}

#header > h1 {
    margin-top: 10px;
}

h1>a {
    color: black;
}

.custom-mouseover {
    transition: color 0.5s ease;
}

.custom-mouseover:hover {
    color: #808080;
    cursor: hand;
}

.scrollingForeground {
    margin-top: 45%;
    background-color: white;
    min-height: 100%;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.icon
{
	width: 80px;
	display: block;
	margin-right: auto;
	margin-bottom: auto;
}



#footer {
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    width: 100%;
    /*height: 48px;*/
    background-color: #EEDCDB;
  -webkit-box-shadow: 0 -6px 4px -6px #808080;
  -moz-box-shadow: 0 -6px 4px -6px #808080;
  box-shadow: 0 -6px 4px -6px #808080;
}

#footer>* {
  margin-top: 5px;
}

#footername
{
  margin-top: 20px;
}

#footername a
{
  color: #7A7979;
}

#footername a:hover
{
  color: #FB5353;
}

#footerMediaNav
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#footerMediaNav li
{
	float: left;
	margin-right: 10px;
  list-style: none;
  margin-bottom: 5px;
}

#footerMediaNav a
{
	/*height: 43px;
	width: 43px;*/
	margin-top: 2px;
	margin-left: 10px;
	display: block;
}

#footerMediaNav li a img
{
  height: 30px;
  width: 30px;
  margin-top: 10px;
}

#footerMediaNav li a img:hover
{
	background: #FB5353;
	border-radius: 15px;
}


#main {
    overflow: auto;
    position: absolute;
    width: 100%;
    top: 85px;
    bottom: 35px;
}

.header-linkbar {
    margin-top: 15px;
    margin-bottom: 0;
}

.header-linkbar > a {
    background-color: #B3D6D2;
    color: white;
    font-size: large;
    transition: all 0.5s ease;
}

.header-linkbar > a:hover {
    background-color: #EEDCDB;
}

.lockedBackgroundImage {
    position: fixed;
    z-index:-99;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    display: inline-block;
}


/* XLarge */
@media only screen and (min-width: 90.063em) {
  .nameplate {
      width: 66.67%;
      position: fixed;
      left: 50%;
      margin: 20% 0 0 -33.33%;
      position: fixed;
      text-align: center;
      font-size: 48px;
      z-index:-50;
      color: white;
      text-shadow: 0px 4px 8px #000000;
  }

  .nameplate>h2{
    font-size: 108px;
    color: white;
  }

  #contactmetext{
		background-color: red;
	}
}

/* Large */
@media only screen and (min-width: 64.063em) and (max-width: 90.062em) {
  .nameplate {
      width: 66.67%;
      position: fixed;
      left: 50%;
      margin: 22.5% 0 0 -33.33%;
      position: fixed;
      text-align: center;
      font-size: 42px;
      z-index:-50;
      color: white;
      text-shadow: 0px 4px 8px #000000;
  }

  .nameplate>h2{
    font-size: 96px;
    color: white;
  }
}

/* Medium */
@media only screen and (min-width: 40.063em) and (max-width: 64.062em) {
  .nameplate {
      width: 66.67%;
      position: fixed;
      left: 50%;
      margin: 15% 0 0 -33.33%;
      position: fixed;
      text-align: center;
      font-size: 36px;
      z-index:-50;
      color: white;
      text-shadow: 0px 4px 8px #000000;
  }

  .nameplate>h2{
    font-size: 60px;
    color: white;
    margin-top: 80px;
  }
}

/* Small */
@media only screen and (max-width: 40.062em) {
  .nameplate {
      width: 66.67%;
      position: fixed;
      left: 50%;
      margin: 5% 0 0 -33.33%;
      position: fixed;
      text-align: center;
      font-size: 25px;
      z-index:-50;
      color: white;
      text-shadow: 0px 4px 8px #000000;
  }

  .nameplate>h2{
    font-size: 31px;
    color: white;
    margin-top: 80px;
  }


}
