#video
{
	background-color:#333;
	/*height: 384px;*/
}

#video h3
{
	font-family: 'ringbearermedium', helvetica, times, serif;
	margin-top: 10px;
	color: #ffbc1c;
}

#videoNav
{
	margin-bottom: 20px;
}

#videoNav ul
{

	list-style: none;
	text-align: center;
	margin: 0;
	padding: 5px;
}

#videoNav ul li
{
	margin-top: 5px;
}

#videoNav ul li a
{
	display: inline;
	margin-top: 15px;
	margin-bottom: 15px;
}

video
{
	width: 300px;
	height: 300px;
	margin: 0;
}

.controls {
	width:300px;
	height:30px;
	background-color: #3c3835;
 	color: #fff;
	font-family: Verdana, sans-serif;
	font-size: 12px;
 	text-transform: uppercase;
	margin-top: 0 auto;
}

.controls div
{
	float:left;
	height:30px;
	line-height:30px;
}

.player-button
{
	margin-left:10px;
	text-align:center;
	cursor:pointer;
}

#trailerCon p{
  font-family: 'caviar_dreamsregular', arial, sans-serif;
  font-size: 15px;
  margin: 0;

}
