.container {
  position: relative;

}

.image {
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border:1px solid #bfbfbf;
-webkit-box-shadow: 6px 7px 21px -2px rgba(171,171,171,1);
-moz-box-shadow: 6px 7px 21px -2px rgba(171,171,171,1);
box-shadow: 6px 7px 21px -2px rgba(171,171,171,1);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
